(edif  rs232sch 
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap
    (keywordLevel 0))
  (status
    (written (timestamp 2000 11 14 19 31 0)
      (author "ALDEC")
      (program "Aldec's EDIF Netlist Generator"
        (version "2.5.5.70"))))
  (library Active_lib 
    (edifLevel 0)
    (technology
      (numberDefinition
        (scale 1 (E 1 -11) (unit TIME))))
      (cell  AND2 
        (cellType generic)
        (view net (viewType netlist )
          (interface
            (port  I0 
              (direction INPUT))
            (port  I1 
              (direction INPUT))
            (port  O 
              (direction OUTPUT))
            (property  DEVICE (string "AND"))
            (property  LEVEL (string "XILINX"))
            (property  LIBVER (string "2.0.0")))))
      (cell  AND2B1 
        (cellType generic)
        (view net (viewType netlist )
          (interface
            (port  I0 
              (direction INPUT))
            (port  I1 
              (direction INPUT))
            (port  O 
              (direction OUTPUT))
            (property  DEVICE (string "AND"))
            (property  LEVEL (string "XILINX"))
            (property  LIBVER (string "2.0.0")))))
      (cell  AND3B1 
        (cellType generic)
        (view net (viewType netlist )
          (interface
            (port  I0 
              (direction INPUT))
            (port  I1 
              (direction INPUT))
            (port  I2 
              (direction INPUT))
            (port  O 
              (direction OUTPUT))
            (property  DEVICE (string "AND"))
            (property  LEVEL (string "XILINX"))
            (property  LIBVER (string "2.0.0")))))
      (cell  AND3B2 
        (cellType generic)
        (view net (viewType netlist )
          (interface
            (port  I0 
              (direction INPUT))
            (port  I1 
              (direction INPUT))
            (port  I2 
              (direction INPUT))
            (port  O 
              (direction OUTPUT))
            (property  DEVICE (string "AND"))
            (property  LEVEL (string "XILINX"))
            (property  LIBVER (string "2.0.0")))))
      (cell  AND4B2 
        (cellType generic)
        (view net (viewType netlist )
          (interface
            (port  I0 
              (direction INPUT))
            (port  I1 
              (direction INPUT))
            (port  I2 
              (direction INPUT))
            (port  I3 
              (direction INPUT))
            (port  O 
              (direction OUTPUT))
            (property  DEVICE (string "AND"))
            (property  LEVEL (string "XILINX"))
            (property  LIBVER (string "2.0.0")))))
      (cell  AND4B3 
        (cellType generic)
        (view net (viewType netlist )
          (interface
            (port  I0 
              (direction INPUT))
            (port  I1 
              (direction INPUT))
            (port  I2 
              (direction INPUT))
            (port  I3 
              (direction INPUT))
            (port  O 
              (direction OUTPUT))
            (property  DEVICE (string "AND"))
            (property  LEVEL (string "XILINX"))
            (property  LIBVER (string "2.0.0")))))
      (cell  FDCE 
        (cellType generic)
        (view net (viewType netlist )
          (interface
            (port  C 
              (direction INPUT))
            (port  CE 
              (direction INPUT))
            (port  CLR 
              (direction INPUT))
            (port  D 
              (direction INPUT))
            (port  Q 
              (direction OUTPUT))
            (property  DEVICE (string "DFF"))
            (property  INIT (string "R"))
            (property  LEVEL (string "XILINX"))
            (property  LIBVER (string "2.0.0")))))
      (cell  GND 
        (cellType generic)
        (view net (viewType netlist )
          (interface
            (port  GROUND 
              (direction OUTPUT))
            (property  LEVEL (string "XILINX"))
            (property  LIBVER (string "2.0.0")))))
      (cell  OR2 
        (cellType generic)
        (view net (viewType netlist )
          (interface
            (port  I0 
              (direction INPUT))
            (port  I1 
              (direction INPUT))
            (port  O 
              (direction OUTPUT))
            (property  DEVICE (string "OR"))
            (property  LEVEL (string "XILINX"))
            (property  LIBVER (string "2.0.0")))))
      (cell  OR3 
        (cellType generic)
        (view net (viewType netlist )
          (interface
            (port  I0 
              (direction INPUT))
            (port  I1 
              (direction INPUT))
            (port  I2 
              (direction INPUT))
            (port  O 
              (direction OUTPUT))
            (property  DEVICE (string "OR"))
            (property  LEVEL (string "XILINX"))
            (property  LIBVER (string "2.0.0")))))
      (cell  OR5 
        (cellType generic)
        (view net (viewType netlist )
          (interface
            (port  I0 
              (direction INPUT))
            (port  I1 
              (direction INPUT))
            (port  I2 
              (direction INPUT))
            (port  I3 
              (direction INPUT))
            (port  I4 
              (direction INPUT))
            (port  O 
              (direction OUTPUT))
            (property  DEVICE (string "OR"))
            (property  LEVEL (string "XILINX"))
            (property  LIBVER (string "2.0.0")))))
      (cell  OR6 
        (cellType generic)
        (view net (viewType netlist )
          (interface
            (port  I0 
              (direction INPUT))
            (port  I1 
              (direction INPUT))
            (port  I2 
              (direction INPUT))
            (port  I3 
              (direction INPUT))
            (port  I4 
              (direction INPUT))
            (port  I5 
              (direction INPUT))
            (port  O 
              (direction OUTPUT))
            (property  LEVEL (string "MXILINX"))
            (property  LIBVER (string "2.0.0")))
          (contents
            (instance (rename  &_1I69 "$1I69")
              (viewRef net 
                (cellRef OR3 )))
            (instance (rename  &_1I84 "$1I84")
              (viewRef net 
                (cellRef OR2 )))
            (instance (rename  &_1I85 "$1I85")
              (viewRef net 
                (cellRef OR3 )))
            (net  I0 
              (joined 
                (portRef  I0 )
                (portRef  I0 
                  (instanceRef  &_1I85))))
            (net  I1 
              (joined 
                (portRef  I1 )
                (portRef  I0 
                  (instanceRef  &_1I84))))
            (net  I12 
              (joined 
                (portRef  O 
                  (instanceRef  &_1I84))
                (portRef  I1 
                  (instanceRef  &_1I85))))
            (net  I2 
              (joined 
                (portRef  I2 )
                (portRef  I1 
                  (instanceRef  &_1I84))))
            (net  I3 
              (joined 
                (portRef  I3 )
                (portRef  I0 
                  (instanceRef  &_1I69))))
            (net  I35 
              (joined 
                (portRef  O 
                  (instanceRef  &_1I69))
                (portRef  I2 
                  (instanceRef  &_1I85))))
            (net  I4 
              (joined 
                (portRef  I4 )
                (portRef  I1 
                  (instanceRef  &_1I69))))
            (net  I5 
              (joined 
                (portRef  I5 )
                (portRef  I2 
                  (instanceRef  &_1I69))))
            (net  O 
              (joined 
                (portRef  O )
                (portRef  O 
                  (instanceRef  &_1I85)))))))
      (cell  VCC 
        (cellType generic)
        (view net (viewType netlist )
          (interface
            (port  VCC 
              (direction OUTPUT))
            (property  LEVEL (string "XILINX"))
            (property  LIBVER (string "2.0.0")))))
      (cell  FD 
        (cellType generic)
        (view net (viewType netlist )
          (interface
            (port  C 
              (direction INPUT))
            (port  D 
              (direction INPUT))
            (port  Q 
              (direction OUTPUT))
            (property  LEVEL (string "MXILINX"))
            (property  LIBVER (string "2.0.0")))
          (contents
            (instance (rename  &_1I37 "$1I37")
              (viewRef net 
                (cellRef FDCE ))
              (property  INIT (string "R"))
              (property  RLOC (string "R0C0")))
            (instance (rename  &_1I40 "$1I40")
              (viewRef net 
                (cellRef VCC )))
            (instance (rename  &_1I43 "$1I43")
              (viewRef net 
                (cellRef GND )))
            (net (rename  &_Net01050_ "$Net01050_")
              (joined 
                (portRef  VCC 
                  (instanceRef  &_1I40))
                (portRef  CE 
                  (instanceRef  &_1I37))))
            (net (rename  &_Net01051_ "$Net01051_")
              (joined 
                (portRef  GROUND 
                  (instanceRef  &_1I43))
                (portRef  CLR 
                  (instanceRef  &_1I37))))
            (net  C 
              (joined 
                (portRef  C )
                (portRef  C 
                  (instanceRef  &_1I37))))
            (net  D 
              (joined 
                (portRef  D )
                (portRef  D 
                  (instanceRef  &_1I37))))
            (net  Q 
              (joined 
                (portRef  Q )
                (portRef  Q 
                  (instanceRef  &_1I37)))))))
      (cell  FDR 
        (cellType generic)
        (view net (viewType netlist )
          (interface
            (port  C 
              (direction INPUT))
            (port  D 
              (direction INPUT))
            (port  Q 
              (direction OUTPUT))
            (port  R 
              (direction INPUT))
            (property  LEVEL (string "MXILINX"))
            (property  LIBVER (string "2.0.0")))
          (contents
            (instance (rename  &_1I39 "$1I39")
              (viewRef net 
                (cellRef FD ))
              (property  RLOC (string "R0C0")))
            (instance (rename  &_1I41 "$1I41")
              (viewRef net 
                (cellRef AND2B1 ))
              (portinstance  I0 
                (property  PARAM (string "INV"))))
            (net  C 
              (joined 
                (portRef  C )
                (portRef  C 
                  (instanceRef  &_1I39))))
            (net  D 
              (joined 
                (portRef  D )
                (portRef  I1 
                  (instanceRef  &_1I41))))
            (net  D_R 
              (joined 
                (portRef  O 
                  (instanceRef  &_1I41))
                (portRef  D 
                  (instanceRef  &_1I39))))
            (net  Q 
              (joined 
                (portRef  Q )
                (portRef  Q 
                  (instanceRef  &_1I39))))
            (net  R 
              (joined 
                (portRef  R )
                (portRef  I0 
                  (instanceRef  &_1I41)))))))
      (cell  RS232ASM 
        (cellType generic)
        (view net (viewType netlist )
          (interface
            (port  CDDEN 
              (direction OUTPUT))
            (port  CLK 
              (direction INPUT))
            (port  CS0 
              (direction INOUT))
            (port  CS1 
              (direction INOUT))
            (port  CS2 
              (direction INOUT))
            (port  CT1EN 
              (direction OUTPUT))
            (port  CT1Z 
              (direction INPUT))
            (port  DECEN 
              (direction OUTPUT))
            (port  LOAD 
              (direction OUTPUT))
            (port  NS0 
              (direction INOUT))
            (port  NS1 
              (direction INOUT))
            (port  NS2 
              (direction INOUT))
            (port  PTEN 
              (direction OUTPUT))
            (port  RESET 
              (direction INPUT))
            (port  S 
              (direction INPUT))
            (port  UP 
              (direction OUTPUT)))
          (contents
            (instance (rename  &_I56 "$I56")
              (viewRef net 
                (cellRef AND2 )))
            (instance (rename  &_I57 "$I57")
              (viewRef net 
                (cellRef AND2 )))
            (instance (rename  &_I58 "$I58")
              (viewRef net 
                (cellRef AND2B1 ))
              (portinstance  I0 
                (property  PARAM (string "INV"))))
            (instance (rename  &_I59 "$I59")
              (viewRef net 
                (cellRef AND2B1 ))
              (portinstance  I0 
                (property  PARAM (string "INV"))))
            (instance (rename  &_I60 "$I60")
              (viewRef net 
                (cellRef AND3B2 ))
              (portinstance  I0 
                (property  PARAM (string "INV")))
              (portinstance  I1 
                (property  PARAM (string "INV"))))
            (instance (rename  &_I61 "$I61")
              (viewRef net 
                (cellRef AND2B1 ))
              (portinstance  I0 
                (property  PARAM (string "INV"))))
            (instance (rename  &_I62 "$I62")
              (viewRef net 
                (cellRef AND4B3 ))
              (portinstance  I0 
                (property  PARAM (string "INV")))
              (portinstance  I1 
                (property  PARAM (string "INV")))
              (portinstance  I2 
                (property  PARAM (string "INV"))))
            (instance (rename  &_I63 "$I63")
              (viewRef net 
                (cellRef AND4B2 ))
              (portinstance  I0 
                (property  PARAM (string "INV")))
              (portinstance  I1 
                (property  PARAM (string "INV"))))
            (instance (rename  &_I64 "$I64")
              (viewRef net 
                (cellRef AND2 )))
            (instance (rename  &_I65 "$I65")
              (viewRef net 
                (cellRef AND2 )))
            (instance (rename  &_I66 "$I66")
              (viewRef net 
                (cellRef AND3B2 ))
              (portinstance  I0 
                (property  PARAM (string "INV")))
              (portinstance  I1 
                (property  PARAM (string "INV"))))
            (instance (rename  &_I67 "$I67")
              (viewRef net 
                (cellRef AND3B1 ))
              (portinstance  I0 
                (property  PARAM (string "INV"))))
            (instance (rename  &_I68 "$I68")
              (viewRef net 
                (cellRef AND4B2 ))
              (portinstance  I0 
                (property  PARAM (string "INV")))
              (portinstance  I1 
                (property  PARAM (string "INV"))))
            (instance (rename  &_I69 "$I69")
              (viewRef net 
                (cellRef AND4B3 ))
              (portinstance  I0 
                (property  PARAM (string "INV")))
              (portinstance  I1 
                (property  PARAM (string "INV")))
              (portinstance  I2 
                (property  PARAM (string "INV"))))
            (instance (rename  &_I70 "$I70")
              (viewRef net 
                (cellRef OR3 )))
            (instance (rename  &_I71 "$I71")
              (viewRef net 
                (cellRef OR5 )))
            (instance (rename  &_I72 "$I72")
              (viewRef net 
                (cellRef OR6 )))
            (instance (rename  &_I73 "$I73")
              (viewRef net 
                (cellRef FDR )))
            (instance (rename  &_I74 "$I74")
              (viewRef net 
                (cellRef FDR )))
            (instance (rename  &_I75 "$I75")
              (viewRef net 
                (cellRef FDR )))
            (instance (rename  &_I76 "$I76")
              (viewRef net 
                (cellRef AND2 )))
            (instance (rename  &_I77 "$I77")
              (viewRef net 
                (cellRef AND3B1 ))
              (portinstance  I0 
                (property  PARAM (string "INV"))))
            (instance (rename  &_I78 "$I78")
              (viewRef net 
                (cellRef AND3B2 ))
              (portinstance  I0 
                (property  PARAM (string "INV")))
              (portinstance  I1 
                (property  PARAM (string "INV"))))
            (instance (rename  &_I79 "$I79")
              (viewRef net 
                (cellRef AND3B1 ))
              (portinstance  I0 
                (property  PARAM (string "INV"))))
            (instance (rename  &_I80 "$I80")
              (viewRef net 
                (cellRef AND3B2 ))
              (portinstance  I0 
                (property  PARAM (string "INV")))
              (portinstance  I1 
                (property  PARAM (string "INV"))))
            (instance (rename  &_I81 "$I81")
              (viewRef net 
                (cellRef AND3B1 ))
              (portinstance  I0 
                (property  PARAM (string "INV"))))
            (net (rename  &_Net00015_ "$Net00015_")
              (joined 
                (portRef  I1 
                  (instanceRef  &_I70))
                (portRef  O 
                  (instanceRef  &_I57))))
            (net (rename  &_Net00016_ "$Net00016_")
              (joined 
                (portRef  I2 
                  (instanceRef  &_I70))
                (portRef  O 
                  (instanceRef  &_I56))))
            (net (rename  &_Net00017_ "$Net00017_")
              (joined 
                (portRef  I0 
                  (instanceRef  &_I70))
                (portRef  O 
                  (instanceRef  &_I58))))
            (net (rename  &_Net00018_ "$Net00018_")
              (joined 
                (portRef  I2 
                  (instanceRef  &_I71))
                (portRef  O 
                  (instanceRef  &_I61))))
            (net (rename  &_Net00019_ "$Net00019_")
              (joined 
                (portRef  I3 
                  (instanceRef  &_I71))
                (portRef  O 
                  (instanceRef  &_I60))))
            (net (rename  &_Net00020_ "$Net00020_")
              (joined 
                (portRef  I1 
                  (instanceRef  &_I71))
                (portRef  O 
                  (instanceRef  &_I62))))
            (net (rename  &_Net00021_ "$Net00021_")
              (joined 
                (portRef  I4 
                  (instanceRef  &_I71))
                (portRef  O 
                  (instanceRef  &_I59))))
            (net (rename  &_Net00022_ "$Net00022_")
              (joined 
                (portRef  I0 
                  (instanceRef  &_I71))
                (portRef  O 
                  (instanceRef  &_I63))))
            (net  NS2 
              (joined 
                (portRef  NS2 )
                (portRef  O 
                  (instanceRef  &_I70))
                (portRef  D 
                  (instanceRef  &_I73))))
            (net  NS1 
              (joined 
                (portRef  NS1 )
                (portRef  O 
                  (instanceRef  &_I71))
                (portRef  D 
                  (instanceRef  &_I74))))
            (net (rename  &_Net00023_ "$Net00023_")
              (joined 
                (portRef  I2 
                  (instanceRef  &_I72))
                (portRef  O 
                  (instanceRef  &_I67))))
            (net (rename  &_Net00024_ "$Net00024_")
              (joined 
                (portRef  I3 
                  (instanceRef  &_I72))
                (portRef  O 
                  (instanceRef  &_I66))))
            (net (rename  &_Net00025_ "$Net00025_")
              (joined 
                (portRef  I4 
                  (instanceRef  &_I72))
                (portRef  O 
                  (instanceRef  &_I65))))
            (net (rename  &_Net00026_ "$Net00026_")
              (joined 
                (portRef  I1 
                  (instanceRef  &_I72))
                (portRef  O 
                  (instanceRef  &_I68))))
            (net (rename  &_Net00027_ "$Net00027_")
              (joined 
                (portRef  I5 
                  (instanceRef  &_I72))
                (portRef  O 
                  (instanceRef  &_I64))))
            (net (rename  &_Net00028_ "$Net00028_")
              (joined 
                (portRef  I0 
                  (instanceRef  &_I72))
                (portRef  O 
                  (instanceRef  &_I69))))
            (net  NS0 
              (joined 
                (portRef  NS0 )
                (portRef  O 
                  (instanceRef  &_I72))
                (portRef  D 
                  (instanceRef  &_I75))))
            (net  CS0 
              (joined 
                (portRef  CS0 )
                (portRef  I0 
                  (instanceRef  &_I56))
                (portRef  I0 
                  (instanceRef  &_I58))
                (portRef  I0 
                  (instanceRef  &_I61))
                (portRef  I3 
                  (instanceRef  &_I62))
                (portRef  I3 
                  (instanceRef  &_I63))
                (portRef  I0 
                  (instanceRef  &_I64))
                (portRef  I2 
                  (instanceRef  &_I66))
                (portRef  Q 
                  (instanceRef  &_I75))
                (portRef  I0 
                  (instanceRef  &_I76))
                (portRef  I2 
                  (instanceRef  &_I77))
                (portRef  I1 
                  (instanceRef  &_I78))
                (portRef  I0 
                  (instanceRef  &_I79))
                (portRef  I0 
                  (instanceRef  &_I80))
                (portRef  I1 
                  (instanceRef  &_I81))))
            (net  CS1 
              (joined 
                (portRef  CS1 )
                (portRef  I0 
                  (instanceRef  &_I57))
                (portRef  I1 
                  (instanceRef  &_I58))
                (portRef  I1 
                  (instanceRef  &_I59))
                (portRef  I2 
                  (instanceRef  &_I60))
                (portRef  I1 
                  (instanceRef  &_I61))
                (portRef  I0 
                  (instanceRef  &_I65))
                (portRef  I0 
                  (instanceRef  &_I68))
                (portRef  I0 
                  (instanceRef  &_I69))
                (portRef  Q 
                  (instanceRef  &_I74))
                (portRef  I1 
                  (instanceRef  &_I76))
                (portRef  I2 
                  (instanceRef  &_I78))
                (portRef  I1 
                  (instanceRef  &_I79))
                (portRef  I2 
                  (instanceRef  &_I80))
                (portRef  I0 
                  (instanceRef  &_I81))
                (portRef  I1 
                  (instanceRef  &_I77))))
            (net  CS2 
              (joined 
                (portRef  CS2 )
                (portRef  I1 
                  (instanceRef  &_I56))
                (portRef  I1 
                  (instanceRef  &_I57))
                (portRef  I1 
                  (instanceRef  &_I60))
                (portRef  I2 
                  (instanceRef  &_I62))
                (portRef  I1 
                  (instanceRef  &_I63))
                (portRef  I1 
                  (instanceRef  &_I64))
                (portRef  I1 
                  (instanceRef  &_I65))
                (portRef  I2 
                  (instanceRef  &_I67))
                (portRef  I1 
                  (instanceRef  &_I68))
                (portRef  I1 
                  (instanceRef  &_I69))
                (portRef  Q 
                  (instanceRef  &_I73))
                (portRef  I0 
                  (instanceRef  &_I78))
                (portRef  I2 
                  (instanceRef  &_I79))
                (portRef  I1 
                  (instanceRef  &_I80))
                (portRef  I2 
                  (instanceRef  &_I81))
                (portRef  I0 
                  (instanceRef  &_I77))))
            (net  CT1Z 
              (joined 
                (portRef  CT1Z )
                (portRef  I0 
                  (instanceRef  &_I59))
                (portRef  I0 
                  (instanceRef  &_I60))
                (portRef  I1 
                  (instanceRef  &_I62))
                (portRef  I2 
                  (instanceRef  &_I63))
                (portRef  I1 
                  (instanceRef  &_I66))
                (portRef  I1 
                  (instanceRef  &_I67))
                (portRef  I2 
                  (instanceRef  &_I68))
                (portRef  I2 
                  (instanceRef  &_I69))))
            (net  S 
              (joined 
                (portRef  S )
                (portRef  I0 
                  (instanceRef  &_I62))
                (portRef  I0 
                  (instanceRef  &_I63))
                (portRef  I0 
                  (instanceRef  &_I66))
                (portRef  I0 
                  (instanceRef  &_I67))
                (portRef  I3 
                  (instanceRef  &_I68))
                (portRef  I3 
                  (instanceRef  &_I69))))
            (net  RESET 
              (joined 
                (portRef  RESET )
                (portRef  R 
                  (instanceRef  &_I73))
                (portRef  R 
                  (instanceRef  &_I74))
                (portRef  R 
                  (instanceRef  &_I75))))
            (net  CLK 
              (joined 
                (portRef  CLK )
                (portRef  C 
                  (instanceRef  &_I73))
                (portRef  C 
                  (instanceRef  &_I74))
                (portRef  C 
                  (instanceRef  &_I75))))
            (net  CT1EN 
              (joined 
                (portRef  CT1EN )
                (portRef  O 
                  (instanceRef  &_I76))))
            (net  UP 
              (joined 
                (portRef  UP )
                (portRef  O 
                  (instanceRef  &_I77))))
            (net  DECEN 
              (joined 
                (portRef  DECEN )
                (portRef  O 
                  (instanceRef  &_I78))))
            (net  LOAD 
              (joined 
                (portRef  LOAD )
                (portRef  O 
                  (instanceRef  &_I79))))
            (net  CDDEN 
              (joined 
                (portRef  CDDEN )
                (portRef  O 
                  (instanceRef  &_I80))))
            (net  PTEN 
              (joined 
                (portRef  PTEN )
                (portRef  O 
                  (instanceRef  &_I81)))))))
      (cell  rs232sch 
        (cellType generic)
        (view net (viewType netlist )
          (interface
            (port  CDDEN 
              (direction OUTPUT))
            (port  CLK 
              (direction INPUT))
            (port  CT1EN 
              (direction OUTPUT))
            (port  CT1Z 
              (direction INPUT))
            (port  DECEN 
              (direction OUTPUT))
            (port  LOAD 
              (direction OUTPUT))
            (port  PTEN 
              (direction OUTPUT))
            (port  RESET 
              (direction INPUT))
            (port  S 
              (direction INPUT))
            (port  UP 
              (direction OUTPUT)))
          (contents
            (instance  H2 
              (viewRef net 
                (cellRef RS232ASM )))
            (net  CT1Z 
              (joined 
                (portRef  CT1Z )
                (portRef  CT1Z 
                  (instanceRef H2 ))))
            (net  S 
              (joined 
                (portRef  S )
                (portRef  S 
                  (instanceRef H2 ))))
            (net  RESET 
              (joined 
                (portRef  RESET )
                (portRef  RESET 
                  (instanceRef H2 ))))
            (net  CLK 
              (joined 
                (portRef  CLK )
                (portRef  CLK 
                  (instanceRef H2 ))))
            (net  CDDEN 
              (joined 
                (portRef  CDDEN )
                (portRef  CDDEN 
                  (instanceRef H2 ))))
            (net  UP 
              (joined 
                (portRef  UP )
                (portRef  UP 
                  (instanceRef H2 ))))
            (net  LOAD 
              (joined 
                (portRef  LOAD )
                (portRef  LOAD 
                  (instanceRef H2 ))))
            (net  CT1EN 
              (joined 
                (portRef  CT1EN )
                (portRef  CT1EN 
                  (instanceRef H2 ))))
            (net  DECEN 
              (joined 
                (portRef  DECEN )
                (portRef  DECEN 
                  (instanceRef H2 ))))
            (net  PTEN 
              (joined 
                (portRef  PTEN )
                (portRef  PTEN 
                  (instanceRef H2 ))))))))
  (design  rs232sch 
    (cellRef rs232sch 
      (libraryRef Active_lib ))
        (property PART (string "4002XL-09-PC84"))))
